@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  /* Custom Wallet Button */
  .mymultibutton {
    @apply bg-black text-white hover:text-black hover:bg-brand-main !important;
    border: 1px solid black !important;
  }

  @font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-Bold.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-Light.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-RegularItalic.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-SemiBold.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-MediumItalic.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-Medium.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-Regular.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-LightItalic.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-HeavyItalic.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-Heavy.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert TRIAL';
    src: url('/fonts/RoobertTRIAL-BoldItalic.woff2') format('woff2'),
        url('/fonts/RoobertTRIAL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

  /* Body styles */
  body {
    @apply bg-texture-bg bg-bottom bg-cover bg-no-repeat text-white selection:bg-brand-main selection:text-white;
    font-family: 'Roobert TRIAL', sans-serif;
    /* margin: 0; */
    height: calc(100vh);
    /* Fluid Fonts */
    font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1280 - 320)));
    font-style: normal;
    font-weight: 400;
  }

  /* Heading styles */
  h1 {
    font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1280 - 320)));
    font-style: normal;
    font-weight: 900;
    line-height: calc(36px + (40 - 36) * ((100vw - 320px) / (1280 - 320)));
  }
  h2 {
    font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1280 - 320)));
    font-style: normal;
    font-weight: 800;
    line-height: calc(34px + (38 - 34) * ((100vw - 320px) / (1280 - 320)));
  }
  h3 {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1280 - 320)));
    font-style: normal;
    font-weight: 700;
    line-height: calc(28px + (32 - 28) * ((100vw - 320px) / (1280 - 320)));
  }

  /* Scrollbar styles */
  /* width */
  body::-webkit-scrollbar {
    width: 8px;
    background-color: var(--chakra-colors-transparent);
  }

  /* Track */
  body::-webkit-scrollbar-track {
    @apply bg-transparent dark:bg-[#03040e];
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    @apply bg-[#ffffff] dark:bg-[#03040e];
    border-radius: 35px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* NavigationLink Hover */
  .navLink {
    @apply px-2 py-1 rounded-md hover:text-[#43b083] dark:hover:text-[#14F195] bg-opacity-20;
  }

  .wallet-adapter-button,
  .mymultibutton {
    @apply !rounded-xl;
  }

  /* Glow Buttons */
  .glow-on-hover {
    @apply bg-transparent text-black dark:text-white hover:text-white;
    height: 50px;
    min-width: 150px;
    border: 1px solid gray;
    outline: none;

    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  .glow {
    @apply text-black dark:text-white;
    min-width: 150px;
    height: 50px;
    border: none;
    outline: none;

    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  .glow:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }
  .glow:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
  }
  .glow:active:after {
    background: transparent;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }
  .glow:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    @apply bg-transparent text-black dark:text-white;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .glow:after {
    @apply bg-transparent text-black dark:text-white;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .css-i4bv87-MuiSvgIcon-root {
    @apply text-black dark:text-white !important;
  }

  .meshBg {
    background: #0a0924;
    background-image: radial-gradient(at 47% 96%, #151b40 0px, transparent 50%),
      radial-gradient(at 61% 15%, #09162b 0px, transparent 50%),
      radial-gradient(at 8% 16%, #0f1930 0px, transparent 50%),
      radial-gradient(at 85% 28%, #110c3d 0px, transparent 50%),
      radial-gradient(at 81% 66%, #060d1f 0px, transparent 50%);
  }

  .lightMeshBg {
    background: #e6e6f0;
    background-image: radial-gradient(at 47% 96%, #a8abbd 0px, transparent 50%),
      radial-gradient(at 61% 15%, #d5dde8 0px, transparent 50%),
      radial-gradient(at 8% 16%, #c3ccde 0px, transparent 50%),
      radial-gradient(at 85% 28%, #b2abeb 0px, transparent 50%),
      radial-gradient(at 81% 66%, #ccd2e0 0px, transparent 50%);
  }

  .hide-number-input-arrows::-webkit-inner-spin-button,
  .hide-number-input-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-number-input-arrows {
    -moz-appearance: textfield; /* Firefox */
  }
}
